<div class="home-ending" data-home-ending data-home-ending-state="static">
  <div class="home-ending-lane" aria-hidden="true">
    <div class="home-ending-train-runner">
      <span class="home-ending-train" data-home-ending-train aria-hidden="true">
        <span class="home-ending-train-glyphs">🚂🚃🚃🚃</span>
      </span>
    </div>
  </div>
  <p class="home-ending-caption">{{ T "homeEndingThought" }}</p>
  <a class="home-ending-return" data-home-ending-return href="#home-top">{{ T "homeEndingReturn" }}</a>
</div>
{{- $script := resources.Get "js/home-ending.mjs" | fingerprint "sha256" }}
<script type="module" src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
